.slidebar{
    display: flex;
}
.bars{
    display: flex;
    font-size: 38px;
}
.link{
    display: flex;
    color: #231ab4;
    padding: 30px 10px;
    gap: 10px;
    font-weight: 600;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(255, 255, 255);
    color: #231ab4;
    transition: all 0.5s;
}
.icon, .link_text{
    font-size: 24px;
    margin-left: 10px;
} 